@import "variables";
@import "mixins";
.App {
    text-align: center;
    flex-wrap: wrap;

    &:nth-child(odd){
        background-color: $bgColor;
    }
    &:nth-child(even){
        background-color: #101010;
    }


    .Header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
        @include text(20px, 38px,white);

        .HeaderContent {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            margin-right: 5%;
            padding: 1%;
            position: relative;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            & span {
                color: #1C99FE;
                cursor: default;
            }
            span:hover {
                color: #7bfd47;
                transition: 0.3s;
            }
        }
    }


    .Greetings {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: max-content;

        .GreetingsContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            height: 70%;
            padding: 1%;
            margin: 1%;
        }

        .welcomeBlock {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 1%;
            margin: 1%;
            @include text(15px, 18px,white);
             h2{
                color: $primaryTextColor;
                span{
                    color: $textColor;
                }
            }


        }
        .PhotoBlock {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 40%;
            margin: 1%;
            & img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: 2px solid white;
            }
        }


    }

        .SkillsWrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            min-height: max-content;


            .SkillsWrapContentTitle {
                margin-bottom: 1%;
                @include text(20px, 25px,white);
            }

            .SkillsWrapContent {
                flex-direction: column;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 1%;
                padding: 1%;
                width: 90%;
                color: $textColor;

            }

            .SkillsWrapContentBlock {
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
            }

            .Skills {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 25%;
                padding: 1%;
                margin: 1%;
            }

            .Skills img {
                width: 30%;
                margin-bottom: 1%;
            }
        }

    .ProjectWrap {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        .ProjectWrapContentTitle{
            @include text(30px, 25px,white);
            background: $colorGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }


        .ProjectWrapContent {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: stretch;
            align-items: center;
            width: 90%;
            padding: 1%;
            margin: 1%;
            min-height: max-content;
            color: $textColor;
        }

        .ProjectWrapContentBlock {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            margin: 1%;
            width: 90%;
        }
        .Project {
            width: 25%;
            margin: 1%;
            padding: 1%;

        }

        .Project img {
            width: 50%;
        }
    }

    .OfferWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        @include text(20px, 25px,white);


        .OfferContent {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1%;
            padding: 1%;

        }

        .OfferItem {
            width: 40%;
            margin: 1%;
        }
    }

    .contactsBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $fontFamily;


        .contactsContainer {
            flex-direction: column;
        }

        .email {
            color: $primaryTextColor;
            font-size: 18px;

            .linkEmail {
                color: $textColor;
                text-decoration: none;
                position: relative;

                &:hover {
                    &::before {
                        background: $colorGradient;
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 170px;
                        height: 1px;
                    }
                }
            }
        }

        .form {
            min-width: 280px;
            display: flex;
            flex-direction: column;

            .input {

                border-radius: 5px;
                padding: 0 20px;
                border: 2px solid $borderColor;
                margin-bottom: 20px;
                outline: none;
                transition: all 0.3s ease;
                height: 50px;
                background: transparent;
                @include text(15px, 28px, white);
                color: $secondaryTextColor;
            }

            .textarea {
                border-radius: 5px;
                padding: 0 20px;
                border: 2px solid $borderColor;
                margin-bottom: 20px;
                outline: none;
                transition: all 0.3s ease;
                height: 100px;
                background: transparent;
                @include text(15px, 28px,white);
                color: $secondaryTextColor;
            }
        }

        .button {
            @include text(16px, 38px,white);
            text-decoration: none;
            padding: 0 23px;
            height: 40px;
            display: inline-block;
            background-color: $primaryTextColor;
            border-radius: 4px;
            position: relative;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            letter-spacing: 0.2px;
            margin-bottom: 20px;

            &:hover {
                border: 2px solid $primaryTextColor;
                background-color: rgba(28, 153, 254, 0);
                color: $primaryTextColor;
            }
        }
    }

    .FooterWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: max-content;
        font-family: $fontFamily;
        @include text(18px, 28px, white);


        .FooterContent {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 1%;


        }

        .FooterItem {
            padding: 1%;
            margin: 1%;
        }

        .StrangeThing {
            display: flex;
            flex-direction: row;

        }

        .StrangeThingItem {
            .socialIconItem {
                height: 45px;
                width: 45px;
                padding: 5px;
            }
        }
    }

    @media (max-width: 576px) {
        .Skills {
            width: 90%;
        }

        .SkillsWrapContentBlock {
            justify-content: center;
        }
        .Project {
            width: 90%;
        }
        .ProjectWrapContentBlock {
            justify-content: center;
        }
    }
}

//.footerBlock {
//    background-color: $bgColor;
//    font-family: $fontFamily;
//
//    .footerContainer {
//        flex-direction: column;
//
//
//        & h3 {
//            @include text(16px, 28px,white);
//        }
//
//        .iconsContainer {
//            display: flex;
//
//
//        }
//
//        & div {
//            @include text(16px, 28px,white);
//        }
//    }
//}
//
//.container {
//    border: 1px solid;
//    height: 100%;
//    width: 80%;
//    margin: 0 auto;
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    flex-wrap: wrap;
//}
.title {
    padding-top: 60px;

    .subTitle {
        font-family: $fontFamily;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 18px;
        font-size: 16px;
        background: $colorGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & h2 {
        font-family: $fontFamily;
        font-size: 40px;
        font-weight: 600;
        line-height: 62px;
        margin-bottom: 20px;
        color: $textColor;
    }

    & p {
        font-size: 18px;
        line-height: 30px;
        color: $secondaryTextColor;
    }
}
