$textColor: #fff;
$primaryTextColor: #1C99FE;
$secondaryTextColor: #7bfd47;
$textSizePrimary:25px;
$colorGradient: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #7bfd47 79.69%);
$bgColor: #383636;
$bgSecondColor: #101010;
$borderColor: #FFFFFF33;
$fontFamily: 'Poppins', sans-serif