$textColor: #fff;
$colorGradient: linear-gradient(120deg, #2593ef 20.69%, #7644FF 50.19%, #fdc947 79.69%);
$primaryColor: #e0ae34;
$secondaryColor: rgb(37, 146, 238);
$bgColor: #191919;
$bgSecondColor: #101010;
$borderColor: #FFFFFF33;
$fontFamily: 'Poppins', sans-serif;
$heightHeader: 80px
